<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Footer -->
<footer class="page-footer font-small darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <img class="mb-2" src="/images/blue-jeju.png" alt="" width="50"/>
        © 2020 Copyright: Blue-Jeju, Inc.<a href="https://github.com/minkj1992"><span style="color:#0488C8"><i class="fa fa-github"></i></span></a>
    </div>
    <!-- Copyright -->
</footer>